@model SchoolManagement.Areas.Admin.ViewModels.ExamTypeVm

    
        <form asp-action="AddExamType" asp-area="Admin" asp-controller="Home" method="post" style="margin-top:5%;margin-top:20px;padding:20px;background-color:ghostwhite; box-shadow:0 5px 15px #686868;border-radius:10px 15px;">
            <h1 style="text-align:center;font-family:'Century Gothic';font-weight:bold;">Exam Type</h1>
            <hr style="width:70%;" />

            <div class="row" style="padding:10px;">
                @*row 1*@
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <div class="form-group">
                        <label for="exmtype">Enter Examination Type:</label>
                        <input type="text" class="form-control" placeholder="Exam Type" asp-for="exmnameVM" />
                        <span asp-validation-for="exmnameVM" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:10px;">
                @*row 2*@
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="float:right;">
                    <button class="btn btn-primary" type="submit" style="float:right;">Submit</button>
                </div>
            </div>
        </form>
   
