<div  style="max-width: 450px;
            margin: 0 auto;
            text-align: center">
        <h1 class="mt-5 d-flex justify-content-center align-items-center" style=" font-size: 160px">4<span style=" margin: 0 20px"><img class="error-icon" style=" width: 160px" src="~/images/404.png" asp-append-version="true"/></span>4</h1>
        <p style="font-size: 22px;
            font-weight: 600;
            margin-top: 30px">PAGE NOT FOUND</p>
        <p>Sorry, the page you were looking for could not found. Please check the URL and try your luck again. <a class="text-success" asp-action="index">Go homepage</a> or try the search bar below.</p>
</div>
