@model SchoolManagement.Areas.Admin.ViewModels.SectionCapacityVm
@if (ViewBag.SMS != null)
{
     <div class="alert alert-danger">
            <strong>@ViewBag.SMS</strong>
     </div>
}
    <form style="margin-top:5%;padding:20px;background-color:ghostwhite; box-shadow:0 5px 15px #686868;border-radius:10px 15px;" asp-area="Admin" asp-controller="Home" asp-action="SectionCapacity" method="post">
        <h1 style="text-align:center;font-family:'Century Gothic';font-weight:bold;">Add New Section Capacity</h1>
        <hr style="width:70%;" />

        <div class="row" style="padding:10px;">
            @*row 1*@
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Select Class:</label>
                    <select asp-for="ClassId" asp-items="@ViewBag.Class" class="form-control"></select>
                    <span asp-validation-for="ClassId" class="text-danger"></span>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Select Class:</label>
                    <select asp-for="SectionId" asp-items="@ViewBag.Section" class="form-control"></select>
                    <span asp-validation-for="SectionId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Enter Section Capacity:</label>
                    <input type="number" class="form-control" placeholder="Section Capacity" asp-for="Capacity" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row" style="padding:10px;">
            @*row 2*@
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="float:right;">
                <button class="btn btn-primary" type="submit" style="float:right;">Submit</button>
            </div>
        </div>

    </form>
